<div class="container">
	<!-- using watermelon sherbet colour scheme, because it is delicious -->
	<div class="row">
		<div class="span12">
			<h1>WAT MUSIC GAME</h1>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div id="mainPhoto">
				<img src=<%= image_path("maryland_mosh_pit.jpg") %> id="normalModePhoto" class="shown"/>
				<img src=<%= image_path("portable_record_player.jpg") %> id="hipsterModePhoto" class="hidden"/>
			</div>
		</div>
		<div class="span4">
			<div id="gameSidebar">
				<h3>Game Stats</h3>
				<ul>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="questionContainer">
				<h2>Choose Your mode</h2>
			</div>
		</div>
	</div>
	<div class="row" id="options">
		<div class="span6">
			<div class="optionContainer standardOption" id="normal">
				<h2>NORMAL MODE</h2>
			</div>
		</div>
		<div class="span6">
			<div class="optionContainer standardOption" id="hipster">
				<h2>HIPSTER MODE</h2>
			</div>
		</div>
	</div>
</div>

<!-- TEMPLATES -->
<script id="gameMenuTemplate" type="text/template">
<div class="span6">
	<div class="optionContainer standardOption" id="normal">
		<h2>NORMAL MODE</h2>
	</div>
</div>
<div class="span6">
	<div class="optionContainer standardOption" id="hipster">
		<h2>HIPSTER MODE</h2>
	</div>
</div>
</script>

<script id="optionsTemplate" type="text/template">
{{#options}}
	<div class="span4">
		<div class="optionContainer standardOption" id="{{id}}">
			<h2>{{content}}</h2>
		</div>
	</div>
{{/options}}
</script>

<script id="questionStatTemplate" type="text/template">
<div class="questionStatContainer" id="{{gameStatId}}">
	<div class="questionNumber">
		<span class="padQuestion">Q{{index}}</span>
	</div>
	<div class="questionStat">
		<span class="padQuestion">{{questionText}}</span>
	</div>
	<div class="questionIcon">
		<span class="padQuestion"><i class="icon-music"></i></span>
	</div>
</div>
<div class="clearfix"></div>
</script>
