$salmonPink: #E8927D;
$hotPink: #E87192;
$yellow: #FFF2C3;
$green: #8AFFB5;
$lightGreen: #AFFF97;

$defaultRoundedAmount: 5px;

*, html, body {
	margin: 0;
	padding: 0;
}

body {
	background: url(image_path("rebel/rebel.png"));
	background-repeat: repeat;
}

h1 {
	color: $yellow;
}

#mainPhoto {
	height: 400px;
}

#mainPhoto img {
	max-height: 400px;
}

#gameSidebar {
	height: 400px;
	max-height: 400px;
	overflow-y: auto;
	background-color: $yellow;
	border: 2px solid #222222;
	margin: 0;
	padding: 0;
}

#gameSidebar h3 {
	padding: 5px;
	margin: 0;
	color: $yellow;
	background-color: #222222;
}

#gameSidebar ul {
	margin: 0;
}

#gameSidebar ul li {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #222222;
}

#gameSidebar .correct {
	background-color: $green;
}

#gameSidebar .incorrect {
	background-color: $hotPink;
}

.questionStatContainer {
	margin: 0;
}

.questionNumber, .questionStat, .questionIcon {
	background-color: $yellow;
	float: left;
	margin: 0;
}

.questionNumber {
	font-weight: bold;
}

.padQuestion {
	padding: 5px;
}

.questionNumber, .questionIcon {
	width: 10%;
}

.questionStat {
	width: 80%;
}

.hidden {
	display: none;
}

.questionContainer h2 {
	color: #222222;
}

.answerContainer h2 {
	color: $hotPink;
	text-align: center;
}

#questionContainer {
	background-color: #FFFFFF;
	border: 2px solid $salmonPink;
	padding: 10px 20px;
	margin: 20px 0;
}

.hoveredOption {
	border: 2px solid $hotPink;
	background-color: $lightGreen;
}

.standardOption {
	background-color: $yellow;
	border: 2px solid #222222;
}

.optionContainer {
	padding: 10px;
	margin: 20px 0;
	cursor: pointer;
}
